@model pages

@{
    ViewData["Title"] = "Create";
}

<h1>Create a page</h1>


<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="titel" class="control-label"></label>
                <input asp-for="titel" class="form-control" />
                <span asp-validation-for="titel" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="contant" class="control-label"></label>
                <textarea asp-for="contant" class="form-control"></textarea>
                <span asp-validation-for="contant" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    CKEDITOR.replace("contant");
</script>
}
