@model IEnumerable<E_CommerceSite.Models.Category>

@{
    ViewData["Title"] = "Categories";
}


<p>
    <a asp-action="Create" class="btn btn-primary">Create New Category</a>
</p>
<table class="table sorting" id="category">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>

            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.id">

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-success">Edit</a>

                    <a asp-action="Delete" asp-route-id="@item.id" class="confirmdeleations">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {


    <script>
        $("table#category tbody").sortable({
            items:"tr:not(.home)",
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#category tbody").sortable("serialize");
                let url = "/Admin/Category/reorder";

                $.post(url, ids, function () {})
            }

        })
    </script>
}